.Funeral{
    width: 70%;
    margin-left: 15%;
    margin-top: 100px;
}
.IntroText{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 15px;
}
.IntroText h1{
  font-size: 50px;
  color: rgb(80, 74, 74);
}
.IntroText p{
  color: rgb(80, 74, 74);
  padding: 5px;
  font-size: 17px;
}
.FuneralPlans{
  padding: 10px;
}
.CompanyName{
  color: white;
  font-weight: bold;
  background: rgb(0, 183, 255);
  height: 60px;
}


.planTable {
  border-collapse: collapse;
  width: 100%;
}
.planTable th, td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

}
.planTable td{
  font-size: 15px;
  padding: 5px;
  width: 180px;
}
.planTable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: #7B68EE;
  color: white;
  font-size: 15px;
}
.planTable tr:nth-child(even){background-color: #f1eaea;}
.FuneralPlans table, tr{
  border: 1px solid #eee;
  text-align: left;
}
.planTable tr{
    padding: 0 10px;
}

.Catagory a{
  padding: 10px 20px;
  border: 2px solid green;
  margin: 2px;

}