.Blog{
    height: 410px;
    width: 31%;
    box-sizing: border-box;
    cursor: pointer;
    margin:12px 0px;
    color:rgb(41, 48, 59);
    text-decoration: none;
}
.BlogDetails{
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.Blog:hover{
    opacity: 0.7;
}
.Blog img{
    width: 100%;
    height: 280px;
    opacity: 0.9;
    margin-bottom: 10px;
    border-radius: 2px;
}

.Blog h2{
    margin: 0;
    padding: 0;
    color: #292929;
    line-height: 27px;
    font-size: 22px;
}

.DateIcon{
    margin-right: 8px;
}

.Blog p{
    margin: 8px 3px;
    padding: 0;
    color: #7575A1;
    font-size: 15px;
}

@media(max-width: 600px){
    .Blog{
        width: 100%;
    }
}