.Plans{
    padding: 50px 0;
    width: 75%;
    margin-left: 12%;
    text-align: center;
}
.PlanHeading{
    margin: 20px 12px;
    color: #414042;
    text-align: left;
}

.allPlans{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.singlePlan{
    height: 290px;
    width: 23%;
    box-sizing: border-box;
    cursor: pointer;
    margin: 9px 6px;
    color:rgb(41, 48, 59);
    border: 1px solid #eee;
    border-radius: 4px;
    background: white;
    text-align: center;
}
.singlePlan:hover{
    box-shadow: 0px 2px 8px 8px rgb(235, 230, 230);
 }

.PlanIntro{
    width: 100%;
    height: 90px;
    padding-top: 20px;
}

.PlanIntro h4{
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #414042;
}
.PlanIntro p{
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    color: #414042;
}
.PlanPrice{
    height: 80px;
    width: 100%;
    
}
.PlanPrice p, h1{
    padding: 0;
    margin: 0;
    color: #414042;
}
.PlanPrice h1{
    font-size: 35px;
    color: orangered;
}
.PlanButton a{
    padding: 10px 25px;
    font: inherit;
    font-size: 13px;
    border: none;
    border-radius: 2px;
    color: green;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
.PlanButton a:hover{
     color: rgb(69, 16, 214);
}
.PlanButton button{
    padding: 10px 20px;
    margin: 20px 10px;
    border: none;
    color: white;
    background: #8154FF;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
}
.PlanButton button:hover{
     background: rgb(100, 59, 212);
}
.CompareDiv{
    margin-top: 20px;
}
.CompareLink{
    padding: 8px 20px;
    border: 1px solid green;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 2px;
    color: black;
}
.CompareLink:hover{
    color: green;
    border: 1px solid #643BD4;
}

@media(max-width:600px){
    .singlePlan{
    height: 290px;
    width: 90%;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 0;
    color:rgb(41, 48, 59);
    border: 1px solid #eee;
    border-radius: 4px;
    background: white;
    text-align: center;
    }
    .Plans{
    width: 100%;
    margin-top: 120px;
    margin: 0;
}
}