.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px gray;
    padding: 16px;
    left: 15%;
    top: 12%;
    box-sizing: border-box;
    transition: all 0.4s ease-out;
    border-radius: 4px;
}

@media (min-width: 600px) {
    .Modal {
        width: 550px;
        left: calc(50% - 280px);
    }
}
@media(max-width: 600px){
    .Modal{
        width: 95%;
        left: 0;
        margin-left: 2.5%;
    }
}