.PlanSection{
    width: 100%;
    height: 500px;
    background: #EAE1B6;
}

.WhyChoose{
    width: 75%;
    margin-left: 12%;
    margin-top: 50px;
}


.BlogContainer{
    width: 100%;
    background: #EEEEEE;
}
.heading{
    margin: 10px 20px;
}
@media(max-width:600px){
    .PlanSection{
      width: 100%;
      height: auto;
      background: #EAE1B6; 
}
.WhyChoose{
    width: 100%;
    margin: 0;
}

}