.FuneralDetail{
    width: 47%;
    box-sizing: border-box;
    margin: 9px 6px;
    color:rgb(41, 48, 59);
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 30px 20px;
    box-shadow: 0px 2px 5px 5px #eee;
}
.FuneralDetail h1{
    font-size: 20px;
    margin:5px 0;
    padding:0;
    color: #5f1aa3;
}
.FuneralDetail p{
    font-size: 17px;
    color: rgb(117, 114, 114);
}

@media(max-width: 600px){
    .FuneralDetail{
     width: 90%;
     margin: 5px;
  }
}